/* 
  .content_landscape {
    display: none;
  }
  .content_portrait{
    display: flex;
    width: 38%;
  }
  .content_modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content_modal img{
    width: 100%;
  }
  .img_container {
    width: 35%;
    padding-right: 2%;
  }
  .content_about{
    width: 65%;
    padding: 0;
    height: 100%;
  }
  .content_title{
    font-size: 3.5vw;
  }
  .content_description {
    font-size: 1.1em;
    padding-top: 5%;
    font-weight: lighter;
  }

  .tagline {
    color: orange;
  }

  .button {
    width: 50%;
    height: 40px;
    background-color: green;
  }
  






  @media (max-width: 835px) {
    .content_landscape {
      display: flex;
      width: 100%;
    }
    .content_portrait{
      display: none;
    }
    .content_modal{
      flex-direction: column;
      justify-content: none;
    }
    .content_modal img{
      width: 100%;
    }
    .img_container {
      width: 100%;
      padding-right: 0%;
    }
    .content_about{
      width: 100%;
      padding: 0;
      height: 100%;
    }
    .button {
      width: 100%;
    }
  }



 */
















































 
.content_landscape {
  display: none;
}
.content_portrait{
  display: flex;
  width: 38%;
}
.content_modal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content_modal img{
  width: 100%;
}
.img_container {
  width: 35%;
  padding-right: 2%;
}
.content_about{
  width: 65%;
  padding: 0;
  height: 100%;
}
.content_title{
  font-size: 1.8em;
  line-height: 35px;
  margin-top: 2%;
}
.content_description {
  font-size: 1.1em;
  padding-top: 5%;
  font-weight: lighter;
}

.tagline {
  color: orange;
}

.button {
  width: 50%;
  height: 40px;
  background-color: green;
}







@media (max-width: 835px) {
  .content_landscape {
    display: flex;
    width: 100%;
  }
  .content_portrait{
    display: none;
  }
  .content_modal{
    flex-direction: column;
    justify-content: none;
  }
  .content_modal img{
    width: 100%;
  }
  .img_container {
    width: 100%;
    padding-right: 0%;
  }
  .content_about{
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .button {
    width: 100%;
  }
}




