.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  /* padding: 0.5% 0; */
  box-shadow: 0px 1px 5px black;
  z-index: 100;
  background: #39445a;
}


h1 {
  text-align: center;
  color: white;
}









@media (max-width: 530px){
  h1{
    padding: 2% 0;
    font-size: 1.4em;
  }
}

@media (max-width: 350px){
  h1{
    font-size: 1.4em;
  }
}