.carousel_item {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 4%;
}

.carousel_img {
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
}

.carousel_img:hover{
  opacity: 0.8;
  filter: grayscale(100);
}